.statusbar-splitter {
  height: 20px;
  width: 16px;
  border-right: 1px solid #404040;
  background-image: url(chrome://sidebarstyletab/skin/splitter.png);
}
#main-window:not([active="true"]) .statusbar-splitter {
  border-right: 1px solid #868686;
}


#statusbar-sidebar-splitter {
  /* Account for the border of the sidebar */
  margin-right: 1px;
}

.statusbar-tabbutton {
  border-right: 1px solid #868686;
  border-left: 1px solid #868686;
  width: 48px;
  height: 20px;
  margin: 0;
}
.statusbar-tabbutton:hover:active {
  background-color: -moz-mac-chrome-active;
}

#statusbar-newtabbutton {
  border-left: none;
  margin-left: -2px;  /* make it tight with the left side of the window */
  list-style-image: url(chrome://browser/skin/tabbrowser/newtab.png);
  -moz-image-region: rect(2px, 17px, 18px, 1px);
  padding: 0 0 0 16px; /* make sure the image has space and is centered */
}
#statusbar-newtabbutton:hover {
  -moz-image-region: rect(2px, 35px, 18px, 19px);
}
#statusbar-newtabbutton:hover:active {
  -moz-image-region: rect(2px, 53px, 18px, 37px);
}

#statusbar-alltabsbutton {
  margin-left: -1px;  /* make it tight with the "new tab" button */
  list-style-image: url(chrome://browser/skin/tabbrowser/alltabs-box-bkgnd-icon.png);
  -moz-image-region: rect(2px, 19px, 18px, 3px);
  -moz-transform: rotate(180deg);
  padding: 0 0 0 16px; /* make sure the image has space and is centered */
}
#statusbar-alltabsbutton:hover {
  -moz-image-region: rect(2px, 41px, 18px, 25px);
}
#statusbar-alltabsbutton:hover:active {
  -moz-image-region: rect(2px, 63px, 18px, 47px);
}
