@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Unset bottom border, instead let's have a border on the right-hand
   side, much like the sidebar does. */
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-strip {
  border-right: 1px solid #404040;
  border-top: 1px solid #404040;
  border-bottom: none !important;
}
#main-window:not([active="true"])
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-strip {
  border-right: 1px solid #868686;
  border-top: 1px solid #868686;
}

/* Background colour for the tree sidebar (light blue when window is
   active, grey otherwise) */
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tabs {
  background: transparent !important;
  background-color: #d4dde5 !important;
}
#main-window:not([active="true"])
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tabs {
  background-color: #e8e8e8 !important;
}

/* Don't display unnecessary clutter */
tabbrowser[treestyletab-mode="vertical"] .tabs-bottom,
tabbrowser[treestyletab-mode="vertical"] .tabs-left,
tabbrowser[treestyletab-mode="vertical"] .tab-text-shadow {
  display: none !important;
}

/* Style tabs themselves.  Get rid of most of the initial XUL styling */
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tab {
  -moz-appearance: none !important;
  background: transparent !important;
  -moz-border-top-colors: transparent transparent !important;
  -moz-border-bottom-colors: transparent transparent !important;
  -moz-border-right-colors: transparent transparent !important;
  -moz-border-left-colors: transparent transparent !important;
  -moz-border-radius-topleft : 0 !important;
  -moz-border-radius-topright : 0 !important;
  -moz-border-radius-bottomleft : 0 !important;
  -moz-border-radius-bottomright : 0 !important;
  -moz-box-align: stretch !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 16px !important;
  text-align: left !important;
}

tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tab[selected="true"] {
  border-top: 1px solid #94A1C0 !important;
  /* Firefox 3.5 */
  background-image: url("chrome://browser/skin/places/selected-focused-gradient.png") !important;
  background-repeat: repeat-x;
  background-position: bottom left;
  /* Firefox 3.6 */
  background: -moz-linear-gradient(top, #A0B0CF, #7386AB) repeat-x !important;
}
#main-window:not([active="true"])
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tab[selected="true"] {
  border-top: 1px solid #979797 !important;
  /* Firefox 3.5 */
  background-image: url("chrome://browser/skin/places/selected-gradient.png") !important;
  /* Firefox 3.6 */
  background: -moz-linear-gradient(top, #B4B4B4, #8A8A8A) repeat-x !important;  
}

/* Always display the favicon at 100% opacity */
/* XXX doesn't seem to have any effect */
tabbrowser[treestyletab-mode="vertical"]
.tabbrowser-tab:not(:hover):not([selected="true"]) > .tab-icon-image {
  opacity: 1.0 !important;
}

tabbrowser[treestyletab-mode="vertical"]
.tabbrowser-tab:not(:hover):not([selected="true"]) > .tab-close-button {
  display: none !important;
}

/* Tab label is without special decoration except when selected: then
   the text is white and bold. */
tabbrowser[treestyletab-mode="vertical"] .tab-text {
  font-size: 11px;
  font-weight: normal !important;
  color: #000000 !important;
  text-shadow: none !important;
}
tabbrowser[treestyletab-mode="vertical"]
.tabbrowser-tab[selected="true"] .tab-text {
  font-weight: bold !important;
  color: #ffffff !important;
  text-shadow: 0 1px #404040 !important;
}


/* Make the tab counter look like the bubbles in Mail.app et.al. */
tabbrowser[treestyletab-mode="vertical"] .treestyletab-counter-container {
  padding: 0 6px !important;
  background-color: #91a0c0 !important;
  -moz-border-radius: 8px !important;
}
tabbrowser[treestyletab-mode="vertical"] .treestyletab-counter {
  color: #ffffff !important;
  font-weight: bold !important;
}
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tab[selected="true"]
.treestyletab-counter-container {
  background-color: #ffffff !important;
}
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tab[selected="true"]
.treestyletab-counter {
  color: #91a0c0 !important;
}

/* Don't show the new tab button (+) in vertical mode.  It's been
   moved to the statusbar. */
tabbrowser[treestyletab-mode="vertical"] .tabs-newtab-button {
  display: none;
}
