@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.treestyletab-twisty-container {
	-moz-box-pack: start;
	-moz-box-align: center;
	-moz-box-flex: 1;
	position: relative;
	margin: 0 10px 0 -10px;
}

tabbrowser[treestyletab-allow-subtree-collapse="true"] .tab-icon {
	margin-left: 9px;
}

.treestyletab-twisty {
	list-style-image: url("chrome://sidebarstyletab/skin/twisty-open.png");
	opacity: 0.38;
}

.tabbrowser-tab[treestyletab-subtree-collapsed="true"] .treestyletab-twisty {
	list-style-image: url("chrome://sidebarstyletab/skin/twisty-closed.png");
	opacity: 0.38;
}

.treestyletab-twisty:active,
.tabbrowser-tab[treestyletab-subtree-collapsed="true"] .treestyletab-twisty:active {
	opacity: 1.0;
}
